.blog-header {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.blog-list {
  max-width: 600px;
  min-height: calc(100vh - 175px);
  margin: auto;
  padding: 0px 20px;
}

.blog-post {
  width: 100%;
  margin-bottom: 30px;
}

.blog-title {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 8px;
  color: var(--light-primary-text-color)
}

.blog-title:visited {
  color: var(--light-primary-text-color)
}

.blog-title:hover {
  color: var(--light-link-hover-color)
}

.blog-description {
  font-size: 16px;
  color: var(--light-secondary-text-color);
  margin: 5px 0px;
  text-align: justify;
}

.blog-text-holder {
  max-width: 600px;
  margin: auto;
  margin-top: 60px;
  padding: 0px 20px;
  padding-bottom: 100px;
}

.blog-text {
  font-size: 16px;
  color: var(--light-primary-text-color);
  margin: 10px 0px;
}

.blog-text-title {
  font-family: 'Montserrat';
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.bullet-points li {
  font-size: 16px;
  color: var(--light-primary-text-color);
  margin: 4px;
}

.important-text {
  color: mediumpurple !important;
}

.blog-image {
  max-width: calc(100% - 40px);
  margin: 20px;
}

.code-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-code-background-color);
  border-radius: 11px;
  padding: 10px 20px;
  margin: 20px;
}

.code-stack {
  display: flex;
  flex-direction: column;
}

code {
  color: var(--light-code-text-color);
  line-height: 20px;
}

mark {
  background-color: var(--light-code-mark-color);
  color: var(--light-code-text-color);
}

.light {
  color: rgb(77, 91, 124); 
  background-color: rgb(214, 220, 234);
}

.code-button-holder {
  width: 60px;
  text-align: end;
}

.code-button {
  height: 20px;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  background-color: transparent
}

.code-button:hover {
  background-color: #646464;
}

.code-snippet {
  width: 100%;
}

.code-snippet-head{
  margin: 20px;
  margin-bottom: 0px;
  height: 35px;
  color: rgb(77, 91, 124); 
  background-color: rgb(214, 220, 234);
  border-radius: 11px 11px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Roboto";
}

.code-snippet-body{
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  background-color: rgb(77, 91, 124);
  color: white;
  border-radius: 0px 0px 11px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* configuration buttons */

.configuration-buttons {
  margin: 20px;
  margin-top: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.configuration-buttons button {
  flex: 1;
  background-color: rgb(77, 91, 124);
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 7px 20px;
  cursor: pointer;
  border: 0px;
}

.configuration-buttons button:first-child {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.configuration-buttons button:last-child {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.configuration-buttons button:hover {
  background-color: #8CC1C1 !important;
}

.selected-button {
  background-color: #56acac !important;
}

@media (max-width: 400px) {
  .configuration-buttons button {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.footer {
  background-color: var(--light-secondary-background-color)
}

/* handle dark theme */
@media (prefers-color-scheme: dark) {
  .blog-title {
    color: var(--dark-primary-text-color)
  }
  .blog-title:visited {
    color: var(--dark-primary-text-color)
  }
  .blog-title:hover {
    color: var(--dark-link-hover-color)
  }
  .blog-description {
    color: var(--dark-secondary-text-color);
  }
  .blog-text {
    color: var(--dark-secondary-text-color);
  }
  .bullet-points li {
    color: var(--dark-secondary-text-color);
  }
  .important-text {
    color: var(--dark-link-hover-color) !important;
  }
  .code-holder {
    background-color: var(--dark-code-background-color);
  }
  code {
    color: var(--dark-code-text-color);
  }
  mark {
    background-color: var(--dark-code-mark-color);
    color: var(--dark-code-text-color);
  }
  .footer {
    background-color: var(--dark-secondary-background-color)
  }
}
