
/* footer styles */

.footer {
  height: 50px;
  width: 100vw;
  background-color: var(--light-primary-background-color);
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px 40px;
}

.footer-name {
  font-family: 'Montserrat';
  margin: 0px;
  font-size: 16px;
  text-decoration: none;
}

.footer-buttons {
  display: flex;
  gap: 20px;
}

.footer-button {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: transparent;
  border-radius: 6px;
  padding-top: 7px;
  cursor: pointer;
  transition: 100ms;
}

.footer-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sun-icon {
  display: none;
  height: 20px;
  width: 20px;
}

.moon-icon {
  height: 18px;
  width: 18px;
}

.github-line-icon {
  height: 18px;
  width: 18px;
}

/* handle dark theme */
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: var(--dark-primary-background-color);
  }

  .footer-button {
    border: 1px solid rgba(256, 256, 256, 0.30);
  }

  .footer-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .moon-icon {
    display: none;
  }
  
  .sun-icon {
    display: inline-block;
  }

  .github-line-icon {
    filter: invert(99%) sepia(1%) saturate(31%) hue-rotate(163deg) brightness(105%) contrast(103%);
  }
}