/* about me styles */

.about-me {
  padding-bottom: 75px;
}

.about-me-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 60px;
}

.face-and-name {
  width: 33%;
  height: 100%;
  text-align: center;
}

.description {
  width: 67%;
}

@media (max-width: 1250px) {
  .about-me-section {
    flex-direction: column;
  }

  .face-and-name {
    width: 100%;
  }

  .description {
    width: 100%;
  }
}

.face-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center top;
}

.garrett-roell {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.job-title {
  font-size: 20px;
  color: var(--light-secondary-text-color);
  margin-top: 0px;
  margin-bottom: 25px;
}

.about-me-links {
  margin-bottom: 25px;
}

.about-me-link {
  font-size: 20px;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 10px;
}

.about-me-anchor {
  text-decoration: none;
}

.social-icons {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.large-github-line-icon {
  height: 30px;
  width: 30px;
  filter: invert(20%) sepia(60%) saturate(4433%) hue-rotate(169deg) brightness(89%) contrast(101%);
}

.large-github-line-icon:hover {
  filter: invert(56%) sepia(8%) saturate(2962%) hue-rotate(111deg) brightness(95%) contrast(86%);
}

.google-scholar-icon {
  height: 40px;
  width: 40px;
  filter: invert(20%) sepia(60%) saturate(4433%) hue-rotate(169deg) brightness(89%) contrast(101%);
}

.google-scholar-icon:hover {
  filter: invert(56%) sepia(8%) saturate(2962%) hue-rotate(111deg) brightness(95%) contrast(86%);
}

.about-me-header {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 25px;
  
}

.about-me-text {
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  margin-bottom: 30px;
  letter-spacing: 0px;
}

.interests-and-education {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.interests-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.interests-list {
  margin: 0px;
}

.interest-item {
  line-height: 30px;
  margin-left: -5px;
  padding-left: 12px;
  font-size: 18px;
}

.education {
  margin: 0px;
}

.education-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.education-list {
  line-height: 30px;
  list-style-type: none;
  padding-left: 10px;
  margin: 0px;
}

.education-item {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
}

/* last item */
.education-list .education-item:last-child {
  margin-bottom: 0px;
}

.graduation-cap-icon {
  height: 21px;
  width: 25px;
}

.education-text {
  padding-left: 10px;
  line-height: 27px;
}

.degree {
  margin: 0px 0px;
}

.university {
  margin: 0px 0px;
  font-size: 15px;
  color: var(--light-secondary-text-color);
}

@media (max-width: 1250px) {
  .about-me-header {
    text-align: center;
    font-size: 30px;
  }

  .about-me-text {
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    
  }

  .interests-and-education {
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
    gap: 30px;
  }
}

@media (max-width: 750px) {
  .interests-and-education {
    flex-direction: column;
  }

  .interests-title {
    text-align: center;
  }
  .education-title {
    text-align: center;
  }
}

/* skills styles */

.skills {
  background-color: var(--light-secondary-background-color);
  padding-top: 75px;
  padding-bottom: 75px;
}

.skills-title {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.skills-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  padding: 0px 0px;
}

.skill-item {
  width: 32%;
  margin: 0px 0.5%;
}

.community-icon {
  height: 84px;
  width: 84px;
  margin-top: 5px;
  margin: auto;
  width: 100%;
}

.programming-icon {
  height: 80px;
  width: 128px;
  margin: 2px auto;
  width: 100%;
}

.metabolic-map-icon {
  height: 84px;
  width: 128px;
  margin-top: 5px;
  margin: auto;
  width: 100%;
}

/* --light-link-hover-color */
.community-icon, .programming-icon, .metabolic-map-icon {
  filter: invert(50%) sepia(11%) saturate(2431%) hue-rotate(111deg) brightness(106%) contrast(84%);
}

.skill-text {
  text-align: center;
}

.skill-subtitle {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.skill-details {
  font-size: 16px;
  color: var(--light-secondary-text-color);
  margin: 0px 0px;
}

@media (max-width: 800px) {
  .skills-list {
    flex-direction: column;
  }

  .skill-item {
    width: 99%;
    margin-bottom: 50px;
  }


  .skills-list .skill-item:last-child {
    margin-bottom: 0px;
  }
}

/* projects styles */
.projects {
  background-color: var(--light-secondary-background-color);
  padding-top: 75px;
  padding-bottom: 75px;
}

.projects-title-and-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-title {
  margin: 0px;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.projects-list {
  min-width: 800px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-tile {
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}

.projects-tile-list .project-tile:last-child {
  margin-bottom: 0px;
}

.project-tile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-tile-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.project-tile-title-text {
  font-size: 24px;
  margin: 0px 0px;
}

.small-github-thick-icon {
  margin-top: 3px;
  height: 25px;
  width: 25px;
  filter: invert(25%) sepia(4%) saturate(3939%) hue-rotate(170deg) brightness(97%) contrast(90%);
}

.small-github-thick-icon:hover {
  filter: invert(56%) sepia(8%) saturate(2962%) hue-rotate(111deg) brightness(95%) contrast(86%);
}

.project-tile-title-link {
  text-decoration: none;
  color: var(--light-primary-text-color);
}

.project-tile-title-link:visited {
  color: var(--light-primary-text-color);
}

.project-tile-title-link:hover {
  color: var(--light-link-hover-color);
}

.project-tile-subtitle {
  font-size: 16px;
  color: var(--light-secondary-text-color);
  margin: 10px 0px;
}

.subtitle-link {
  text-decoration: none;
}

.project-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  width: 150px;
  max-height: 150px;
  object-fit: contain; 
  object-position: center center;
}

@media only screen and (max-width: 600px) {
  .project-image {
    display: none;
  }

  .project-tile {
    gap: 0px;
    min-height: 0px;
  }
}

/* project buttons */

.project-filter-buttons {
  margin-bottom: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.project-filter-buttons button {
  background-color: #005555;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 7px 20px;
  cursor: pointer;
  border: 0px;
}

.project-filter-buttons button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.project-filter-buttons button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.project-filter-buttons button:hover {
  background-color: #288b6e !important;
}

@media (max-width: 400px) {
  .project-filter-buttons button {
    font-size: 12px;
    padding: 5px 10px;
  }
}

@media (max-width: 1250px) {
  .projects-title-and-list {
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    margin: auto;
  }

  .projects-title {
    text-align: center;
    font-size: 30px;
  }

  .projects-list {
    padding-top: 0px;
    align-items: center;
    min-width: 0px;
  }


  .project-filter-buttons {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

/* publications styles */

.publications {
  background-color: var(--light-primary-background-color);
  padding-top: 75px;
  padding-bottom: 75px;
}

.publications-title {
  text-align: center;
  font-size: 40px;
}

/* handle dark theme */
@media (prefers-color-scheme: dark) {
  .about-me-text {
    color: var(--dark-secondary-text-color);
  }
  .interest-item {
    color: var(--dark-secondary-text-color);
  }
  .job-title {
    color: var(--dark-secondary-text-color);
  }
  .about-me-anchor, .about-me-anchor:visited {
    color: var(--dark-secondary-text-color);
  }
  .about-me-anchor:hover {
    color: var(--dark-link-hover-color);
  }
  .degree {
    color: var(--dark-secondary-text-color);
  }
  .university {
    color: var(--dark-secondary-text-color);
  }
  .project-filter-buttons button:hover {
    background-color: #2296b0 !important;
  }
  .skills {
    background-color: var(--dark-secondary-background-color);
  }
  .skill-details {
    color: var(--dark-secondary-text-color);
  }
  .projects {
    background-color: var(--dark-secondary-background-color);
  }
  .project-tile-title-link {
    color: var(--dark-primary-text-color);
  }
  .project-tile-title-link:visited {
    color: var(--dark-primary-text-color);
  }
  .project-tile-title-link:hover {
    color: var(--dark-link-hover-color);
  }
  .project-tile-subtitle {
    color: var(--dark-secondary-text-color);
  }
  .publications {
    background-color: var(--dark-primary-background-color);
  }

  /* dark secondary text color */
  .google-scholar-icon, .large-github-line-icon, .graduation-cap-icon {
    filter: invert(72%) sepia(20%) saturate(368%) hue-rotate(198deg) brightness(93%) contrast(91%); 
  }

  /* dark link hover color  */
  .google-scholar-icon:hover, .large-github-line-icon:hover, .small-github-thick-icon:hover,
  .community-icon, .programming-icon, .metabolic-map-icon {
    filter: invert(64%) sepia(31%) saturate(4816%) hue-rotate(151deg) brightness(106%) contrast(97%); 
  }

  /* white */
  .phenol, .small-github-thick-icon {
    filter: invert(98%) sepia(3%) saturate(1424%) hue-rotate(248deg) brightness(118%) contrast(100%);
  }

  /* red */
  .blackjack-logo {
    stroke: #646464;
  }
}