/* @import url("https://fonts.googleapis.com/css2?family=Kameron&display=swap"); */

body {
  padding: 0px 0px;
  margin: 0px 0px;
  background-color: rgba(0, 0, 0, 0.02);
}

.outer-container {
  background-color: var(--light-primary-background-color);
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 20px;
  transform: translateY(-10px);
}

.inner-container {
  max-width: 790px;
  margin: auto;
}

.spacer {
  min-height: 60px;
}

.title {
  padding-top: 40px;
  margin-bottom: 2px;
  text-align: center;
  font-family: Kameron;
  letter-spacing: 0.5px;
  color: #288b6e;
}

.contact-info {
  margin-top: 2px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.5px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Kameron;
  letter-spacing: 0.5px;
  color: #414E94;
}

.detail {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.5px;
  line-height: 23px;
}

.subdetail {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15.9px;
  letter-spacing: -0.5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.italicized {
  font-style: italic;
}

.detail-gap {
  height: 10px;
}

.bullet-points {
  padding-inline-start: 18px
}

.bullet-point {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}

.link-holder-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.link-holder-col {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .link-holder-row {
    flex-direction: column;
  }
}

/* handle dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-secondary-background-color);
  }
  .outer-container {
    background-color: var(--dark-primary-background-color);
  }

  .title , .subtitle {
    color: var(--dark-primary-text-color);
  }

  p, li, a, a:visited {
    color: var(--dark-secondary-text-color);
  }

  a:hover {
    color: var(--dark-link-hover-color);
  }
}